body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/baner/bg4.jpg);
    background-size: cover;
}
.input{
    color: white !important;
}
.input::selection{
    color: white !important;
}
label{
    color: white !important;
}
select,option{
    color: white !important;
}